@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color:  black;
    margin: 0;
    padding: 0;
    border-sizing: border-box;
    position: relative;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"]{
    text-decoration: none;
    border: 1px solid darkred;
    padding: 4px;
    width: 100%;
}

input[type="text"]::placeholder {
   color: #710003;
}

.btn {
    width: 100%;
}

input,
select {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: darkred;
  background-clip: text !important;
}

.react-select .select__placeholder {
  color: darkred;
}

.react-select .select__single-value {
color: #c10005;
font-size: 1.2rem;
}

.react-select .select__indicator-separator {
background-color: #c10005;
}

.css-tj5bde-Svg {
fill: #c10005 !important}

.css-b62m3t-container {
border: 1px solid red !important;
}

::-webkit-scrollbar: {
      width: 8px;
      height: 0px;
    },
::-webkit-scrollbar-track: {
      background: black;
      borderRadius: 10px;
    },
::-webkit-scrollbar-thumb: {
      background: darkred;
      borderRadius: 10px;
    },
::-webkit-scrollbar-thumb:hover: {
      background: #c10005;
    }  
